{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>Gestión de Proveedores</h2>

    <form method="POST">
        <label>Nombre del Proveedor</label>
        <input type="text" name="nombre" required>

        <label>Teléfono</label>
        <input type="text" name="telefono">

        <label>Email</label>
        <input type="email" name="email">

        <button type="submit">Agregar Proveedor</button>
    </form>
</div>

<div class="card">
    <h3>Listado de Proveedores</h3>

    <table>
        <thead>
            <tr>
                <th class="num">ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for p in proveedores %}
            <tr>
                <td class="num">{{ p["id"] }}</td>
                <td>{{ p["nombre"] }}</td>
                <td>{{ p["telefono"] }}</td>
                <td>{{ p["email"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}